.container {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 5px;
}

.h2 {
  padding: 10px;
}

.styledButton {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  color: white;

}

.counter {
  display: flex;
  font-family: 'Bungee', sans-serif;
  justify-content: space-between;
  
}

textarea {
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 4px solid black;
  margin-bottom: 5px;
  width: 500px;
  padding-top: 4em;
 
}

.new-tweet1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 3em 7em 3em 7em;
  border: 3px solid black;
  transition: box-shadow .2s;
}

.userInfo {
  display: flex;
  justify-content: space-between;
  width: 90%;
  
}

.footer {
  display: flex;
  justify-content: space-between;
  width: 90%;
  font-size: 15px;
}


.tweetContainer {
  background-color: transparent;
  resize: none;
  outline: none;
  border: none;
  border-bottom: 4px solid black;
  margin-bottom: 5px;
  width: 90%;
  padding-top: 20px;
  height: 56px;
}


.new-tweet1:hover {
  box-shadow: 8px 8px turquoise;
}

.userImage {
  display: flex;
  align-items: center;
}

.ybet {
  font-size: medium;
  text-align: center;
}